---
import BaseLayout from "../layouts/BaseLayout.astro";
import FloatingHearts from "../components/FloatingHearts.astro";
import MusicPlayer from "../components/MusicPlayer.astro";
import Slideshow from "../components/Slideshow.astro";
import Buttons from "../components/Buttons.astro";
---
<BaseLayout>
<FloatingHearts />
<MusicPlayer />
<h1>Will you be my Valentine? 💖</h1>
<Slideshow />
<Buttons />
</BaseLayout>